<div class="jwt-viewer__app">
  <h1>JWT Viewer</h1>
  <p>Exactly like <app-link [href]="'https://jwt.io/'">JWT.io</app-link> except it's neither as beautiful nor remotely as useful.</p>
  <div class="jwt-viewer">
    <div class="jwt-viewer__input">
      <h2>JWT</h2>
      <textarea (paste)="paste($event.clipboardData.getData('text/plain'))"></textarea>
    </div>
    <div class="jwt-viewer__output">
      <h2>Payload</h2>
      <pre *ngIf="payload">{{payload}}</pre>
    </div>
  </div>
  <app-footer class="jwt-viewer__footer"></app-footer>
</div>
