@use '../variables.scss';

@mixin half {
  display: flex;
  flex: 1 1 50%;
  flex-direction: column;
}

p {
  margin: 0;
  padding: 0.5em 0;
}

.jwt-viewer {
  display: flex;
  padding-bottom: 10em;

  @include variables.lg {
    padding-bottom: 18em;
  }

  @include variables.lg {
    flex-direction: column;
  }

  &__app {
    min-height: 100%;
    position: relative;
  }

  &__input {
    @include half;

    padding-right: 0.5em;

    @include variables.lg {
      padding-right: 0;
      padding-bottom: 0.4em;
    }

    textarea {
      height: 10em;
      font-family: variables.$mono-font-family;
      color: variables.$font-color;
      background: variables.$background-color;
      border-radius: 3px;
      border: 1px solid variables.$font-color;
    }
  }

  &__output {
    @include half;

    padding-left: 0.5em;

    @include variables.lg {
      padding-left: 0;
    }

    pre {
      margin: 0;
      background-color: variables.$mono-font-background-color;
      padding: 1em;
      font-family: variables.$mono-font-family;
      overflow-x: auto;
    }

    ul {
      font-size: 0.8em;
      line-height: 1.6em;
    }

    input {
      padding: 3px 4px;
      color: variables.$font-color;
      background: variables.$background-color;
      border: 1px solid variables.$font-color;
      margin-bottom: 1em;
      width: calc(100% - 10px);
    }
  }

  &__footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 8em;
    font-size: variables.$font-size-x-small;
    text-align: center;
    padding: 2em 0;

    @include variables.lg {
      height: 18em;
    }
  }
}
