<div class="jwt-viewer__app">
  <h1>JWT Viewer</h1>
  <p>Exactly like <app-link [href]="'https://jwt.io/'">JWT.io</app-link> except it's neither as beautiful nor remotely as useful.</p>
  <div class="jwt-viewer">
    <div class="jwt-viewer__input">
      <h2>JWT</h2>
      <textarea (paste)="paste($event)"></textarea>
    </div>
    <div class="jwt-viewer__output">
      <h2>Payload</h2>
      <pre *ngIf="jwt">{{jwt.payload | json}}</pre>
      <ul *ngIf="jwt">
        <li *ngIf="jwt.iat"><span class="mono-font">iat</span> (Issued At): {{jwt.iat}}</li>
        <li *ngIf="jwt.nbf"><span class="mono-font">nbf</span> (Not Before): {{jwt.nbf}}</li>
        <li *ngIf="jwt.exp"><span class="mono-font">exp</span> (Expiration Time): {{jwt.exp}}</li>
      </ul>
    </div>
  </div>
  <app-footer class="jwt-viewer__footer"></app-footer>
</div>
